<table class="table">
	<thead>
		<th>Image</th>
		<th>First name</th>
		<th>Last name</th>
		<th>Role</th>
	</thead>
	<tbody>
		<% user_data.each do |user| %>
		<tr>
			<td><%= image_tag(user.image.url, alt: 'Image') if user.image? %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.role %></td>
		</tr>
		<% end %> 
	</tbody>
</table>